# just to store temporary test files
/data/*
!/data/file.txt
temp_*
*.tar.gz

# char `/` mark just folders in the root of project
build*/
_build*/

# every folder with name like: _folder/, folder/_folder
# **/_*

# util folders like: .vscode/, .idea/
**/.*/

# matlab
*.asv
*.mat
*.fig


# python
**/__pycache__/
*.ini
*.egg-info/
